@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--text);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #f8f9fd;
  --border: #000000;
  --text: #000000;
}

.dark {
  --background: #050f24;
  --foreground: #17213a;
  --border: #ffffff;
  --text: #94a3b8;
}

body {
  font-family: var(--font-inter);
}

html,
body {
  height: 100%;
  overflow-y: auto;
}

html.nice-scroll,
body.nice-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) transparent;
}

/* Chrome, Edge, Safari */
html.nice-scroll::-webkit-scrollbar,
body.nice-scroll::-webkit-scrollbar {
  width: 10px;
}

html.nice-scroll::-webkit-scrollbar-track,
body.nice-scroll::-webkit-scrollbar-track {
  background: transparent;
}

html.nice-scroll::-webkit-scrollbar-thumb,
body.nice-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(148, 163, 184, 0.35),
    rgba(71, 85, 105, 0.55)
  );
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background 0.3s ease;
}

html.nice-scroll::-webkit-scrollbar-thumb:hover,
body.nice-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(148, 163, 184, 0.55),
    rgba(71, 85, 105, 0.75)
  );
}

/* apply class="nice-scroll" lên vùng cuộn */
.nice-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--foreground) transparent;
}
.nice-scroll::-webkit-scrollbar {
  width: 10px;
}
.nice-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.nice-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(148, 163, 184, 0.35),
    rgba(71, 85, 105, 0.55)
  );
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.nice-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(148, 163, 184, 0.55),
    rgba(71, 85, 105, 0.75)
  );
}

button:hover {
  cursor: pointer;
}
